$main-font: "Roboto Condensed", sans-serif;
$color-dark: rgb(56, 56, 56);
$color-light: rgb(250, 250, 250);

.footer {
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  color: $color-light;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  max-width: 100%;
  height: 10rem;
  padding: 5% 30%;
  font-family: $main-font;
  font-weight: 100;

  @media (max-width: 720px) {
    flex-direction: column;
    height: 100%;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

    @media (max-width: 720px) {
      justify-content: center;
    }

    @media (max-width: 380px) {
      justify-content: center;
      font-size: 0.8em;
    }

    width: 100%;
    height: 65px;

    &__text {
      margin: 20px;
      white-space: nowrap;

      &--selected a {
        color: $color-light;
      }
    }
  }

  &__social {
    text-align: center;
    &__hashtag {
      padding: 1rem;
    }
  }
}
